/* CSS Document */
html {
	font-size: 18px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: lighter;
	text-transform: uppercase;
}

.container {
	max-width: 960px;
	margin: auto;
}

header {
	background-color: rgba(43,168,179,1.00);
	position: fixed;
	width: 100%;
	margin-top: 1rem;
	height: 2rem;

}

.nav1 {
	display: flex;
	align-items: center;
	color: white;
	
}

.navigation li {
	display: inline-block;
	margin-left: 2rem;
	margin-right: 1rem;
	
}

.navigation ul {
	
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	
}

.logo img {
	height: 1rem;
	margin: 0.5rem;
	margin-left: 0.5rem;
	
}

.banner {
	background-image: url(../images/glasses-bg.png);
	background-size: cover;
	height: 18rem;
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.slogan {
	background-color: white;
	align-self: center;
	margin-top: 7rem;
	margin-right: 8rem;
	padding: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-radius: 10px;
	box-shadow: 0px 10px 50px 2px #D0CFCF;
}

.slogan .strong {
	font-weight: bold;
}

.slogan h1 {
	font-size: 1.25rem;
}

.nav2 {
	flex-basis: 100%;
	align-self: flex-end;
	text-align: center;
	
}

.nav2 li {
	display: inline-block;
	padding: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: -2.5px;
	background-color: rgba(255,255,255,0.25);
	
}

.nav2 .sale {
	color: red;
}

.gallery {
	display: flex;
	justify-content: space-between;
	height: 14rem;
	margin-top: 2rem;
}

.box img {
	height: 15%;
}

.box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	background-color: rgba(245,162,130,1.00);
	height: 12rem;
	width: 12rem;
	border-radius: 10px;
	margin: 0;
}

.box p {
	flex-basis: 100%;
	text-align: center;
	margin-top: 1rem;
	
}

#book {
	background-color: rgba(245,72,33,1.00);
}

.information {
	display: flex;
	justify-content: space-between;
}

.information h3 {
	background-color: rgba(178,213,212,1.00);
	text-align: center;
	padding: 0.5rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	
}

.info-box {
	width: 25.5rem;
	
}

.info-box p {
	text-transform: lowercase;
	font-family: sans-serif;
}

.footer {
	display: flex;
	background-color:rgba(218,240,244,1.00);
	font-size: 0.75rem;
	margin-top: 5rem;
}

.footer li {
	display: inline-block;
	padding-top: 4rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

.foot-flex {
	display: flex;
	width: 100%;
	justify-content: space-between;
	
}

.footer p {
	padding: 4rem;
	padding-left: 1rem;
}

/* media queries */

@media only screen and (max-width: 960px) {
	.box {
		width: 50rem;
		border-radius: 0;
	}
	
	.gallery div:nth-child(2) {
		background-color: rgba(251,103,70,1.00);
	}
	
	.gallery div:nth-child(3) {
		background-color:rgba(235,133,110,1.00)
	}
	
	.nav2 {
		font-weight: bold;
	}
	
	.information {
		justify-content: space-around;
	}
	.info-box {
		width: 25rem;
	}
	
	.info-box p {
		font-size: 1rem;
		line-height: 1.25rem;
	}
}

	/* 470px width */

@media only screen and (max-width : 470px ){
	/* to get gallery items into a column */
	
	.container {
		max-width: 480px;
	}
	
	.gallery {
		flex-direction: column;
		align-items: center
	}
	
	.box {
		width: 440px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	
	.box img {
		margin: 0;
		padding: 0;
		height: 25%
	}
	
	.box p {
		flex-basis: 18rem;
		margin: 0;
		text-align: center;
		letter-spacing: 0.25rem;
	}
	
	.information {
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
	}
	
	.info-box {
		width: 22rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	
/* adjust navigation2 */
	
	.nav2 li {
		background-color: #FFFFFF;
	}
	
	.nav2 li:nth-child(4n) {
		display: none;
	}
	
	.nav2 li:nth-child(3n) {
		display: none;
	}
	
	
/* adjust navigation1 */
	
	header {
		margin-top: 0;
		position: static;
		height: 3rem;
	}
	
	.nav1 img {
		height: 1.5rem;
	
	}
	
	.navigation li:nth-child(1) {
		display: none;
	}
	
		.navigation li:nth-child(2) {
		display: none;
	}
	
	.navigation li:last-child {
		background-color: #FF4F00;
		padding: 1rem 2rem;
		margin: 0;
	}
		
	/* adjust slogan */
	
	.slogan { 
	  padding: 0.5rem;
		padding-left: 1rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 0;
		margin: 0;
		margin-bottom: 12rem;
		margin-right: 11rem;
		box-shadow: 0px 5px 20px 1px #D0CFCF;
	}
	
/* adjust footer */
	.foot-flex {
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
	}
	
	.foot-flex p {
		padding: 0;
		margin: 0;
		flex-basis: 100%;
		padding: 1rem;
	}
	
	.foot-flex li {
		padding: 1rem;
		text-decoration: underline;
	}
	
/* have footer elements stack, increase font size, and add text decoration */
	
	/* change main body font-family */
	}
